* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(22, 238, 22);
    text-align: left;
}

.info {
    width: 70%;
    margin: auto;
    padding-top: 40px;
    padding-right: 10px;
}

h1 {
    text-transform: uppercase;
    color: white;
    margin-top: 45px;
}

p {
    color: white;
    margin-top: 25px;
}

a {
    border: 1px solid rgb(252, 252, 252);
    border-radius: 20px;
    padding: 8px;
    color: white;
    background-color: rgb(22, 238, 22);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.6em;
    word-spacing: 2px;
    display: inline-block;
    margin-top: 25px;
    width: 120px;
    text-align: center;
}

img {
    width: 100%;
    margin-left: 800px;
    margin-top: -240px;
    padding-bottom: 80px;
}

/* for mobile  */
@media screen and (max-width: 768px) {
    .container {
        background-color: rgb(13, 207, 13);
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .info {
        width: 100%;
        margin: 0 auto;
    }

    h1,
    p {
        color: white;
        margin-top: 30px;
    }

    h1 {
        text-transform: uppercase;
    }

    .button {
        margin-bottom: 50px;
    }

    a {
        border: 1px solid rgb(252, 252, 252);
        border-radius: 10px;
        color: white;
        padding: 10px;
        background-color: rgb(13, 207, 13);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.6em;
        word-spacing: 4px;
        display: inline-block;
        width: 20%;
    }

    .image-description img {
        width: 100%;
        margin: 0.3em;
    }
}